name: aMule
version: "1.0.0"
slug: amule
description: aMule P2P client
url: "https://github.com/GazKez/Gazlaxy-s-Addons/tree/main/amule"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
map:
  - share:rw
options:
  message: "Hello world..."
schema:
  message: "str?"
image: "ghcr.io/ngosang/amule:latest"
